extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation

block meta
  link(rel="stylesheet" href="/pages/Post/index.css")

block body
  .Post
    +Header(lang)
    +Navigation(path, dic)
    h1= post.title
    p!= post.content
    each category in post.categories
      p= category.name
      if category.subCategory
        p= category.subCategory.name
    p= post.tags.map(tag => tag.name).join()
    +Footer(lang)
