extends /layouts/index

block vars
  - const title = dic.t('nav.HOME');

block meta
  title= title
  link(rel="stylesheet" href="/styles/pages/home/index.css")

block body
  .home
    include /components/header
    include /components/navigation
    a.home--cover-story(href=`/posts/${featuredPost.id}`)
      .home--cover-story--content
        .home--cover-story--content--image
          .img: img(src=featuredPost.thumbnailUrl)
          .home--cover-story--content--image--cover
        .home--cover-story--content--title= featuredPost.title
    each post in posts
      a(href=`/posts/${post.id}`)
        li= post.title
