extends /layouts/index

block meta
  title= post.title

block body
  h1= post.title
  include /components/navigation.pug
  .content!= post.content
  each category in post.categories
    p= category.name
    if category.subCategory
      p= category.subCategory.name
  p= post.tags.map(tag => tag.name).join()
