extends /layouts/index

block import
  include /components/header
  include /components/footer
  include /components/navigation

block meta
  link(rel="stylesheet" href="/styles/pages/post/index.css")

block body
  .post
    +header(lang)
    +navigation(path, dic)
    h1= post.title
    p!= post.content
    each category in post.categories
      p= category.name
      if category.subCategory
        p= category.subCategory.name
    p= post.tags.map(tag => tag.name).join()
    +footer(lang)
