extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/RecipeLink

block meta
  link(rel="stylesheet" href="/pages/Beverages/index.css")

block body
  .Beverages
    +Header(lang)
    +Navigation(path, dic)
    .Beverages--Content
      .Beverages--Content--CategoryTitle
        h2= dic.t('Beverages.BEVERAGES')
      .Beverages--Content--List
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.COFFEE')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('/beverages/coffee/hot', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.COLD_BREW')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.LATTE')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.AMERICANO')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.CAPPUCCINO')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.MOCHA')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.VANILLA_LATTE')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.COCOA')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Iced ICED
              +RecipeLink('#', dic)
        .Beverages--Content--List--Item
          .Beverages--Content--List--Item--Title= dic.t('Beverages.ESPRESSO')
          .Beverages--Content--List--Item--RecipeList
            .Beverages--Content--List--Item--RecipeList--Item
              .Beverages--Content--List--Item--RecipeList--Item--Hot HOT
              +RecipeLink('#', dic)
      .Beverages--Content--CategoryTitle
    +Footer(lang)
