mixin Header(props)
  header.Header
    ul.Header--LangList
      li.Header--LangList--Item(class= props.lang === 'en' ? 'Header--LangList--Item__Active' : '')
        a(href=`${props.url.en}${props.path}`) ENGLISH
      li.Header--LangList--Item(class= props.lang === 'ja' ? 'Header--LangList--Item__Active' : '')
        a(href=`${props.url.ja}${props.path}`) 日本語
    a.Header--Link(href="/")
      img.Header--Link--Image(srcset=`/images/icon_${props.lang}_square.png 1x, /images/icon_${props.lang}_square@2x.png 2x, /images/icon_${props.lang}_square@3x.png 3x`)
