nav.navigation
  ul
    li
      a(href="/coffee-beans")= dic.t('nav.BEANS')
    li
      a(href="/beverages")= dic.t('nav.BEVERAGES')
    li
      a(href="/foods")= dic.t('nav.FOODS')
    li
      a(href="/goods")= dic.t('nav.GOODS')
    li
      a(href="/knowledge")= dic.t('nav.KNOWLEDGE')
