doctype html

block import

block vars

html(lang=dic.lang)
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=5, minimum-scale=1, user-scalable=yes, viewport-fit=cover")
    link(rel="manifest" href="/manifest.json")
    link(rel="stylesheet" href="/styles/index.css")

    title= title
    meta(name="description" content=description)
    meta(name="author" content=config.author)
    meta(name="keywords" content=config.keywords)
    link(rel="alternate" type="application/rss+xml" title="RSS 2.0" href="/rss")

    //- OGP
    meta(property="og:site_name" content=config.name)
    meta(property="og:title" content=title)
    meta(property="og:type" content=type)
    meta(property="og:url" content=`${config.url}${path}?lang=${lang}`)
    meta(property="og:image" content=thumbnailUrl)
    meta(property="og:description" content=description)
    //- Facebook
    meta(property="fb:app_id" content=config.facebookAppId)
    meta(property="article:publisher" content=config.facebookPageUrl)
    //- Twitter
    meta(property="twitter:card" content=config.twitterCardType)
    meta(property="twitter:site" content=config.twitterAccount)
    meta(property="twitter:title" content=title)
    meta(property="twitter:url" content=`${config.url}${path}?lang={lang}`)
    meta(property="twitter:description" content=description)
    meta(property="twitter:image" content=thumbnailUrl)

    script
      include /layouts/service-worker.js
    block meta
  body
    block body
