extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/ProductCard

block meta
  link(rel="stylesheet" href="/templates/Product/index.css")

block body
  .Product
    +Header(lang)
    +Navigation(path, dic)
    .Product--Content
      .Product--Content--Cover
        .Product--Content--Cover--Pictures
          .Product--Content--Cover--Pictures--Cover
            +Picture(product.pictures[0].url, product.pictures[0].caption)
          .Product--Content--Cover--Pictures--List
            for picture in product.pictures
              .Product--Content--Cover--Pictures--List--Picture
                +Picture(picture.url, picture.caption)
        .Product--Content--Cover--Information
          .Product--Content--Cover--Information--Name= product.name
          .Product--Content--Cover--Information--Category= product.category
          .Product--Content--Cover--Information--Summary!= product.summary
          table.Product--Content--Cover--Information--Spec
            tbody
              for spec in product.specs
                tr
                  th= spec.name
                  td= spec.value
          .Product--Content--Cover--Information--Button Amazonで購入
      .Product--Content--Content
        .Product--Content--Content--Content
          p!= product.content
      .Product--Content--RelatedList
        .Product--Content--RelatedList--Title Related items
        .Product--Content--RelatedList--Item
          +ProductCard(product)
      .Product--Content--RelatedList
        .Product--Content--RelatedList--Title Related recipes
        .Product--Content--RelatedList--Item
          +ProductCard(product)
    +Footer(dic)
