extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/GoodCard

block meta
  link(rel="stylesheet" href="/templates/Good/index.css")

block body
  .Good
    +Header(props.header)
    +Navigation(props.navigation)
    .Good--Content
      .Good--Content--Cover
        .Good--Content--Cover--Pictures
          .Good--Content--Cover--Pictures--Cover
            +Picture(props.good.pictures[0])
          .Good--Content--Cover--Pictures--List
            for picture in props.good.pictures
              .Good--Content--Cover--Pictures--List--Picture
                +Picture(picture)
        .Good--Content--Cover--Information
          .Good--Content--Cover--Information--Name= props.good.name
          .Good--Content--Cover--Information--Category= props.good.category
          .Good--Content--Cover--Information--Summary!= props.good.summary
          table.Good--Content--Cover--Information--Spec
            tbody
              for spec in props.good.specs
                tr
                  th= spec.name
                  td= spec.value
          .Good--Content--Cover--Information--Button Amazonで購入
      .Good--Content--Content
        .Good--Content--Content--Content
          p!= props.good.content
      .Good--Content--RelatedList
        .Good--Content--RelatedList--Title Related items
        for relatedGood in props.relatedGoods
          .Good--Content--RelatedList--Item
            +GoodCard(relatedGood)
      .Good--Content--RelatedList
        .Good--Content--RelatedList--Title Related recipes
        for relatedGood in props.relatedGoods
          .Good--Content--RelatedList--Item
            +GoodCard(relatedGood)
    +Footer
