extends /application/Layout

block import
  include /components/Header
  include /components/Navigation
  include /components/Picture
  include /components/StoryCard
  include /components/Footer

block meta
  script(src="/pages/Home/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Home/index.css")

block body
  .Home
    +Header(props.header)
    +Navigation(props.navigation)

    a.Home--CoverStory(href=`/posts/${props.coverStory.key}`)
      .Home--CoverStory--Content
        .Home--CoverStory--Content--Image
          +Picture(props.coverStory)
            source(media="(min-width: 446px)" srcset=props.coverStory.rectangleImagePath)
            source(media="(max-width: 446px)" srcset=props.coverStory.squareImagePath)
          .Home--CoverStory--Content--Image--Cover
          .Home--CoverStory--Content--Title
            = props.coverStory.title

    .Home--Content
      .Home--Content--Heading= dic.t('Pages.Home.LATEST_ARTICLES')

      ul.Home--Content--StoryList
        each storyListItem in props.storyList
          li.Home--Content--StoryList--Item
            a.Home--Content--StoryList--Item--Link(href=`/posts/${storyListItem.key}`)
              +StoryCard(storyListItem)
    +Footer
