extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/StoryCard

block meta
  script(src="/pages/Home/bundle.js" defer)
  link(rel="stylesheet" href="/pages/Home/index.css")

block body
  .Home
    +Header(lang)
    +Navigation(path, dic)

    a.Home--CoverStory(href=`/posts/${featuredPost.id}`)
      .Home--CoverStory--Content
        .Home--CoverStory--Content--Image
          +Picture(featuredPost.thumbnailUrl.default, featuredPost.title)
            source(media="(min-width: 446px)" srcset=featuredPost.thumbnailUrl.rectangle)
            source(media="(max-width: 446px)" srcset=featuredPost.thumbnailUrl.square)
          .Home--CoverStory--Content--Image--Cover
          .Home--CoverStory--Content--Title
            = featuredPost.title

    .Home--Content
      .Home--Content--Heading= dic.t('Pages.Home.LATEST_ARTICLES')

      ul.Home--Content--StoryList
        each post in posts
          li.Home--Content--StoryList--Item
            a.Home--Content--StoryList--Item--Link(href=`/posts/${post.id}`)
              +StoryCard(post)
    +Footer(dic)
