extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture
  include /components/StoryCard

block meta
  script(src="/pages/home/bundle.js")
  link(rel="stylesheet" href="/pages/home/index.css")

block body
  .Home
    +Header(lang)
    +Navigation(path, dic)

    a.Home--CoverStory(href=`/posts/${featuredPost.id}`)
      .Home--CoverStory--Content
        .Home--CoverStory--Content--Image
          +Picture(featuredPost.thumbnailUrl.default, featuredPost.title)
            source(media="(min-width: 446px)" srcset=featuredPost.thumbnailUrl.rectangle)
            source(media="(max-width: 446px)" srcset=featuredPost.thumbnailUrl.square)
          .Home--CoverStory--Content--Image--Cover
          .Home--CoverStory--Content--Title
            = featuredPost.title

    .Home--Heading= dic.t('home.LATEST_ARTICLES')

    ul.Home--StoryList
      each post in posts
        li.Home--StoryList--Item
          a.Home--StoryList--Item--Link(href=`/posts/${post.id}`)
            +StoryCard(post)
    +Footer(lang)
