extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture

block meta
  script(src="/templates/Recipe/bundle.js" defer)
  link(rel="stylesheet" href="/templates/Recipe/index.css")

block body
  .Recipe
    +Header(props.header)
    +Navigation(props.navigation)

    .Recipe--CoverPicture
      .Recipe--CoverPicture--Content
        .Recipe--CoverPicture--Content--Image
          +Picture(props.coverPicture)
            source(media="(min-width: calc(816px / 2))" srcset=props.coverPicture.rectangleSrc)
            source(media="(max-width: calc(816px / 2))" srcset=props.coverPicture.squareSrc)

    .Recipe--Content
      .Recipe--Content--Title
        h2= props.contentTitle.heading
        if props.contentTitle.recipeType
          div
            .Recipe--Content--Title--Type(class= props.contentTitle.recipeType === dic.t('meta.recipe.recipeType.HOT') ? 'Recipe--Content--Title--Type__Hot' : 'Recipe--Content--Title--Type__Iced')= props.contentTitle.recipeType

      .Recipe--Content--Ingredient
        .Recipe--Content--Ingredient--Title= dic.t('Templates.Recipe.INGREDIENTS')
        table.Recipe--Content--Ingredient--Table
          tbody
            for ingredientRow in props.ingredientTable
              tr.Recipe--Content--Ingredient--Table--Row
                td.Recipe--Content--Ingredient--Table--Row--NameCell= ingredientRow.name
                td.Recipe--Content--Ingredient--Table--Row--NoteCell= ingredientRow.note
                td.Recipe--Content--Ingredient--Table--Row--QuantityCell= ingredientRow.quantity

      .Recipe--Content--StepList
        for stepListItem in props.stepList.items
          .Recipe--Content--StepList--Item(class= props.stepList.recipeType === dic.t('meta.recipe.recipeType.HOT') ? 'Recipe--Content--StepList--Item__Hot' : (props.stepList.recipeType === dic.t('meta.recipe.recipeType.ICED') ? 'Recipe--Content--StepList--Item__Iced' : ''))
            .Recipe--Content--StepList--Item--Summary!= stepListItem.summary
            .Recipe--Content--StepList--Item--Description!= stepListItem.description
            if stepListItem.image
              .Recipe--Content--StepList--Item--Image
                +Picture(stepListItem.image)
            if stepListItem.note
              .Recipe--Content--StepList--Item--Note!= stepListItem.note
    +Footer
