extends /application/Layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture

block meta
  link(rel="stylesheet" href="/templates/Recipe/index.css")

block body
  .Recipe
    +Header(lang)
    +Navigation(path, dic)

    .Recipe--CoverPicture
      .Recipe--CoverPicture--Content
        .Recipe--CoverPicture--Content--Image
          +Picture(recipe.thumbnailUrl.default, recipe.name)
            source(media="(min-width: 446px)" srcset=recipe.thumbnailUrl.rectangle)
            source(media="(max-width: 446px)" srcset=recipe.thumbnailUrl.square)

    .Recipe--Content
      .Recipe--Content--Title
        h2= recipe.name
        if recipe.type
          div
            .Recipe--Content--Title--Type(class= recipe.type === dic.t('Recipe.HOT') ? 'Recipe--Content--Title--Type__Hot' : 'Recipe--Content--Title--Type__Iced')= recipe.type

      .Recipe--Content--Ingredient
        .Recipe--Content--Ingredient--Title= dic.t('Recipe.INGREDIENTS')
        table.Recipe--Content--Ingredient--Table
          tbody
            for ingredient in recipe.ingredients
              tr.Recipe--Content--Ingredient--Table--Row
                td.Recipe--Content--Ingredient--Table--Row--NameCell= ingredient.name
                td.Recipe--Content--Ingredient--Table--Row--NoteCell= ingredient.note
                td.Recipe--Content--Ingredient--Table--Row--QuantityCell= ingredient.quantity

      .Recipe--Content--StepList
        for step in recipe.steps
          .Recipe--Content--StepList--Item(class= recipe.type === dic.t('Recipe.HOT') ? 'Recipe--Content--StepList--Item__Hot' : (recipe.type === dic.t('Recipe.ICED') ? 'Recipe--Content--StepList--Item__Iced' : ''))
            .Recipe--Content--StepList--Item--Summary= step.summary
            .Recipe--Content--StepList--Item--Description= step.description
            if step.note
              .Recipe--Content--StepList--Item--Note= step.note
    +Footer(dic)
