extends /application/layout

block import
  include /components/Header
  include /components/Footer
  include /components/Navigation
  include /components/Picture

block meta
  link(rel="stylesheet" href="/templates/Recipe/index.css")

block body
  .Recipe
    +Header(lang)
    +Navigation(path, dic)

    .Recipe--CoverPicture
      .Recipe--CoverPicture--Content
        .Recipe--CoverPicture--Content--Image
          +Picture(recipe.thumbnailUrl.default, recipe.name)
            source(media="(min-width: 446px)" srcset=recipe.thumbnailUrl.rectangle)
            source(media="(max-width: 446px)" srcset=recipe.thumbnailUrl.square)

    .Recipe--Content
      .Recipe--Content--Title
        h2= recipe.name
        div
          .Recipe--Content--Title--Type= recipe.type
      for step in recipe.steps
        .Recipe--Content--StepList
          .Recipe--Content--StepList--Item
            .Recipe--Content--StepList--Item--Summary= step.summary
            .Recipe--Content--StepList--Item--Description= step.description
            if step.note
              .Recipe--Content--StepList--Item--Note= step.note
    +Footer(lang)
